<header>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="">
      <mat-icon>cloud</mat-icon>
    </button>
    <span>mPath Health</span>
    <span class="example-spacer"></span>
    Cristian Hernandez
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with person icon">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>
